version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
    reviewers:
      - "cociweb"
    assignees:
      - "cociweb"
    commit-message:
      prefix: "deps"
      prefix-development: "deps-dev"
      include: "scope"
